.recipes-container {
  margin-top: 24px;
}

.no-recipes-found {
  text-align: center;
<<<<<<< HEAD
  margin-top: 30px;
  margin-bottom: 187px
=======
  margin-bottom: 30px;
>>>>>>> 4cd00beda30971857a4ea283b5909bf06c644a73
}