.form-container textarea {
  min-height: 200px !important;
}
.form-container {
  @include flex-align-justify-center(column);
  @include box-shadow-regular;
  background-color: $white;
  padding: 5rem;

  form {
    display: flex;
    flex-direction: column;
    align-items: center;

    button {
      @extend %red-button
    }

    * {
      width: 100%;
    }
  }
}

@media (min-width: 1200px) {
  .form-container {
    max-width: 960px;
  }
}

@media (min-width: 768px) {
  .form-container {
    form {
      width: 360px;
    }
  }
}