.recipe-form-container {
  background-color: $white;
  padding: 4rem 5rem;

  button {
    @extend %red-button;
  }

  .green-button {
    @extend %green-button;
  }

  .red-button-delete {
    @extend %red-button;
    margin-right: 0px;
    padding: 0px 10px 3px;
    height: 30px;
  }

  h1 {
    text-align: center;
  }

  .submit-button {
    display: flex;
    justify-content: center;
  }

  .textarea {
    min-height: 100px;
  }
}

.col-delete {
  justify-content: center;
  padding: 15px 8px 0px 0px;
}

@media (max-width: 992px) {
  .recipe-form-container {
    padding: 3rem 1rem;
  }
}

@media (max-width: 768px) {
  #left-column {
    margin-bottom: 1rem;
  }
}

@media (max-width: 576px) {
  .recipe-form-container {
    padding: 3rem 2rem;
  }

  #name-ingredient {
    margin-bottom: 1rem;
  }
}