.header-picture {
  padding: 0px;
  margin-bottom: -40px;
  z-index: -1;
  position: relative;
  margin-top: -30px;

  img {
    max-height: 300px;
    object-fit: cover; // This prevents the image from stretching
  }
}