header {
  z-index: 50;
  background-image:
    linear-gradient(to bottom, rgba($green, 0.92), rgba($green, 0.78)),
    url('../../images/texture.jpg');
  padding: 16px 0;
  position: fixed;
  top: 0;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.6);
  width: 100%;

  a {
    @include link($white);
  }

  p {
    font-family: 'Lobster', cursive;
    color: $white;
    font-size: 40px;
    margin-bottom: 0px;
    text-shadow: 3px 3px $dark-green;
    position: relative;
    bottom: 3px;
  }

  .dropdown {

    .btn,
    .btn:hover,
    .btn:active,
    .btn:focus-visible {
      background: none !important;
      border: none !important;
    }

    .dropdown-item.active,
    .dropdown-item:active {
      background-color: var(--bs-dropdown-link-hover-bg);
      color: var(--bs-dropdown-link-color);
    }

    a {
      padding: 10px 20px;
    }
  }
}

.navbar-right {
  @extend %flex-end;
}

@media (max-width: 576px) {
  header p {
    font-size: 25px;
    bottom: 0px;
  }
}

@media (max-width: 364px) {
  header p {
    font-size: 23px;
  }

  .navbar-right {
    gap: 2px;
  }
}