header {
  background-color: $green;
  padding: 16px 0;
  a {
    @include link($white);
  }
  h1 {
    font-family: 'Lobster', cursive;
    color: $white;
  }
}

.navbar-right {
  @extend %flex-end;
}