.search-container {
  padding: 30px;
  background: $white;
  margin-top: 320px;

  .form-control:focus {
    border-color: $green;
  }

  .btn {
    @extend %green-button-diet
  }

  .btn-red {
    @extend %red-button
  }

  .row>* {
    padding-right: calc(var(--bs-gutter-x) * .2);
    padding-left: calc(var(--bs-gutter-x) * .2);
  }
}

@media (min-width: 992px) {
  .search-container {
    padding: 40px;
  }
}

.header-picture {
  position: static;

  img {
    width: 100%;
    padding: 0px;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    max-height: 500px;
    object-fit: cover; // This prevents the image from stretching 
  }
}