.search-container {
  padding: 30px;
  background: $white;

  .form-control:focus {
    border-color: $green;
  }

  .btn {
    @extend %green-button-diet
  }

  .btn-red {
    @extend %red-button
  }

  .row>* {
    padding-right: calc(var(--bs-gutter-x) * .2);
    padding-left: calc(var(--bs-gutter-x) * .2);
  }
}

@media (min-width: 992px) {
  .search-container {
    padding: 60px;
  }
}