.single-recipe-container {
  @extend %container-content;

  img {
    height: auto;
    max-height: 450px;
    width: 100%;
  }
  h1 {
    font-size: 1.8rem;
  }
}

.diet-button {
  @extend %green-button-diet;
}

.category {
  @extend %category;
}

.p-next-icon-first {
  margin-right: 18px;
}

.p-next-icon-first,
.p-next-icon-second {
  display: inline;
  margin-left: 6px;
}

.reviews {
  background: $green;
  padding: 30px;
  margin: 0px;
  color: $white;
  border-bottom: 8px solid white;

  h4 {
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.4rem;
    margin-bottom: 0px;
  }

  .admin-information {
    text-align: right;
  }
}

.submit-review {
  @extend %red-button;
}

.submit-review-container {
  display: flex;
  align-items: flex-end;
}

.input-range {
  display: flex;
  justify-content: space-between;
}

.diet-icon-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.trash-edit-icons {
  display: flex;
  gap: 14px;
}

.trash-edit-icons svg:hover {
  color: rgb(251 118 92) !important;
}