.carousel-item {
  img {
    height: 460px;
    width: 100%;
    object-fit: cover;
    position: relative;
    bottom: 80px;
  }
}

.carousel-caption {
  background-color: $white;
  padding: 40px 50px;
  position: absolute;
  bottom: 0px;
  left: 25%;
  right: 25%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.carousel-indicators button {
  background: none;
}

.carousel-item > a {
  width: 50%;
}

.top-rated-container {
  padding: 40px 0px 60px;
}

.red-button {
  @extend %red-button;
}