// FONT HEADING
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
// FONT TEXT
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100;8..144,200;8..144,300;8..144,400;8..144,500;8..144,600;8..144,700;8..144,800;8..144,900;8..144,1000&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto Flex', sans-serif;
  background: $light-grey;
  // background-image: linear-gradient(to bottom, rgba($light-pink, 0.8), rgba($light-pink, 0.8)), url('../images/restaurant-splash.webp');
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 122px; // This pushes content below the header

}

h1 {
  font-size: 2.4rem;
}

h2,
h3 {
  font-size: 1.3rem;
  font-weight: bold;
}

@media (min-width: 1400px) {
  .container {
    max-width: 1160px;
  }
}

.form-control:focus {
  box-shadow: 0 0 5px rgba($green, 1) !important;
}

// .main-content {
//   display: flex;
//   min-height: 100vh;
//   flex-direction: column;
//   justify-content: space-between;
// }