// FONT HEADING
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
// FONT TEXT
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100;8..144,200;8..144,300;8..144,400;8..144,500;8..144,600;8..144,700;8..144,800;8..144,900;8..144,1000&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto Flex', sans-serif;
  background: $light-pink;
  margin-top: 122px;
}

h1 {
  font-size: 1.8rem;
}

h2 {
  font-size: 1.3rem;
  font-weight: bold;
}

h3 {
  font-size: 1.4rem;
  font-weight: bold;
}

@media (min-width: 1400px) {
  .container {
    max-width: 1160px;
  }
}