$green: #226A57;
$red: #FF5F40;
$light-grey: #ECECEC;
$light-pink: #FFDEE6;
$black: #000;
$white: #fff;
$grey: #212529;

%flex-end {
  display: flex;
  justify-content: flex-end;
  gap: 14px;
  align-items: center;
}

@mixin link ($color) {
  color: $color;
  text-decoration: none;
}

@mixin flex-align-justify-center($direction) {
  display: flex;
  flex-direction: $direction;
  align-items: center;
  justify-content: center;
}

@mixin box-shadow-regular {
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}